body {
  background-color: powderblue;
}
h1 {
  color: black;
}
p {
  color: blue;
}
div.rounded-corners {     
    height: 250px;
    width: 250px; 
    border-radius: 10px;
    overflow: hidden;
    float:right;
}
